body{
    font-family: 'Poppins', sans-serif;
}

#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
  }
  
  #header.active {
    font-weight: 700;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  #header .navbar-collapse {
    width: auto;
  }
  
  #header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
    margin-left: 15px;
    color: #000;
    border-bottom: solid 4px transparent;
  }
  
  #header .nav-link:hover {
    border-bottom: solid 4px var(--iris);
    color: var(--violeta);
  }

  #slider {
    background: url(../assets/slider-bg.svg) no-repeat center bottom;
    background-size: contain;
  }
  
  #slider h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
  
  #slider h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', 'Poppins', sans-serif;
    font-weight: 600;
  }

  #sobre{
    margin-top: 1.75rem;
  }

  #sobre h2{
      font-weight: 500;
  }

  #sobre p {
      font-family: 'Poppins', 'Roboto', sans-serif;
  }

  #servicos h2{
      margin-top: 1.75rem;
  }

  #servicos a.destaque {
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
  }
  
  #servicos a.destaque:hover {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
  }
  
  #servicos p {
    color: var(--pretoespecial);
    font-family: 'Poppins', 'Roboto', sans-serif;
  }
  
  #servicos a.destaque .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  
  #servicos a.destaque .img-container img {
    max-height: 160px;
  }
  
  #contato .email {
    border-radius: 5px;
    background-color: var(--canario);
    color: var(--pretoespecial);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 30px;
  }
  
  #contato .email img {
    position: absolute;
    left: 30px;
    top: -30px;
  }
  
  #contato .email form {
    width: 60%;
    display: flex;
  }
  
  #contato .email .form-control,
  #contato .email .form-control::placeholder {
    background: none;
    color:var(--pretoespecial);
  }
  
  #contato ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  #contato ul li {
    display: flex;
    list-style-type: none;
    margin-left: 25px;
  }
  
  #contato ul li:first-child {
    margin-left: 0;
  }
  
  #contato ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all ease-out 0.2s;
  }
  
  #contato ul li a:hover {
    box-shadow: 0 0 10px 0 rgb(100, 4, 255);
    background-color: #fff;
  }
  
  #contato ul li img {
    max-height: 36px;
  }

  #contato ul li p {
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    text-align: center;
    font-size: 14px;
  }

  .container .amarelo{
    background-color: var(--canario);
    padding-top: 30px;
  }

  .frame{
    max-height: 250px;
    padding: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
  }